html {
    font-size: 16px;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
    flex-wrap: wrap;
}

body {
    margin: 0;
}

section {
    max-width: inherit;
}

.container {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 1rem 0 1rem 0;
    height: 100px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#menu ul,
.mobilemenu ul {
    margin: 0;
    padding: 0;
}

#menu li,
.mobilemenu li {
    display: inline-flex;
    font-size: 1.5rem;
    margin: 0 1.5rem;
}

#menu a,
.mobilemenu a {
    text-decoration: none;
    color: black;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
    filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#menu a:hover,
.mobilemenu a:hover {
    font-weight: 600;
    -webkit-filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
}

.mobilemenu {
    display: none;
}

#logoa {
    height: 60px;
    margin-top: 20px;
}

.logo img {
    height: 60px;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
    filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.logo:hover {
    -webkit-filter: drop-shadow(4px 4px 4px rgb(32, 0, 0));
    filter: drop-shadow(4px 4px 4px rgb(32, 0, 0));
}




.pagehead {
    background-color: white;
    margin: 0;
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
}

footer {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
}

.fthead {
    flex-direction: row;
    background-color: white;
    color: black;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}

.ftwrap {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.ftcol1, .ftcol2, .ftcol3 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 28%;
}

.ftcol1 p {
    margin-bottom: 2rem;
}

.ftcol1 a {
    background-color: tomato;
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    width: 40%;
    text-align: center;
}

.form {
    justify-content: left;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

.ftcol3 form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#fname, #lname, #email, #message {
    margin: 10px 0;
    height: 2rem;
}

#message {
    height: 6rem;
}

#formsubmit {
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
    margin-top: 20px;
    width: 40%;
    padding: 0.5rem 0;
    background-color: tomato;
    border: none;
}

#formsubmit:hover {
    cursor: pointer;
}


.copyrightprivacy {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.copyright {
    justify-content: flex-start;
}

.privacy {
    justify-content: flex-end;
}

.copyright a,
.privacy a {
    text-decoration: none;
    color: tomato;
    font-weight: 700;
}


/*index.html*/

.herotext {
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 270px;
    max-height: 500px;
    font-size: 150%;
    padding: 1rem;
}

.herotext h1,
.herotext p,
.herotext a {
    text-align: center;
    color: white;
    margin: 24px 0;
}

.herotext a {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 0;
}

.hero {
    display: flex;
    overflow: hidden;
    height: 700px;
}

.hero img {
    object-fit: cover;
    margin: 0;
    width: 100%;
}

.one {
    display: flex;
    overflow: hidden;
    height: 500px;
}

.onetext {
    color: white;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 900px;
    right: 70px;
    max-height: 500px;
    font-size: 150%;
    padding: 1rem;
    text-align: center;
}

.one a{
    background-color: tomato;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}
.one img {
    object-fit: cover;
    width: 100%;

}

.two {
    flex-direction: column;
    min-height: 500px;

}

.twohead {
    width: 100% ;
    text-align: center;
    font-size: 200%;
    color: white;
    margin: 0 0 1rem 0;
}

.twowrap {
    display: flex;
    color: white;
    padding: 1rem;
}

.posts {
    flex-direction: column;
    width: 20%;
    padding: 0 1em;
}

.posts a {
    color: white;
    background-color: blue;
    text-decoration: none;
    width: 50%;
    padding: 1em 0.5em;
    text-align: center;
}

.three {
    display: inline-flex;
    overflow: hidden;
    height: 300px;
}

.three img {
    width: 10%;
    object-fit: cover;
}


.four {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    background-color: white;
}

.testamenthead {
    width: 100%;
    font-size: 200%;
    color: black;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.fourwrap {
    color: black;
    padding: 1em;
}

.testament {
    
    padding: 1rem;
    width: 20%;
}

/*
.testament h2,
.testament p {
}
*/

.fivetext {
    background-color: tomato;
    flex-direction: column;
    width: 100%;
    font-size: 100%;
    padding: 1rem 0;
}

.fivetext h1 {
    text-align: center;
}

.five {
    display: flex;
    flex-wrap: wrap;
}

.five img {
 width: 33.33333%;
 object-fit: cover;
}

.six {
    color: white;
}

@media only screen and (max-width: 1128px) {
    #menu li {
        display: flex;
        list-style-type: none;
    }
    
    .five img {
        width: 50%;
    }

}
/*about.html*/

.aboutoverlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    padding: 1rem 0;
}

#howoverlay {
    background-color: transparent;
}

.who {
    display: flex;
    background-image: url("resources/images/about/frankie-cordoba-R_0IC6PkhUs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    min-height: 500px;
}

.whotext {
    width: 65%;
    margin: auto;
    color: white;
    align-self: center;
}


.how {
    display: flex;
    background-image: url("resources/images/about/mel-baylon-sD1ftn_towI-unsplash.jpg");
    background-position: -30rem -52rem;
    justify-content: space-evenly;
    min-height: 500px;
    width: 100%;
}

.howtext {
    width: 65%;
    margin: auto;
    color: black;

}

.why {
    display: flex;
    background-image: url("resources/images/about/brooke-cagle-P8kVtyU32I0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    min-height: 500px;

}

.whytext {
    width: 65%;
    margin: auto;
    align-self: center;
    color: white;
}




/*events.html*/

.eventbanner {
    background-color: white;
    color: white;
    margin: 0;
}

.eventbanner h1 {
    font-size: 1rem;
    border: 0.1px solid rgb(179, 179, 179);
    background-color: lavenderblush;
    margin: auto;
    padding: 2vh 0;
    text-align: center;
    color: red;
    width: 100%;
}

.eventwrap {
    display: flex;
    justify-content: center;
    background-image: url("resources/images/events/simon-boxus-We02LAPNpa8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8vh;
}

.events {
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
  }

table img {
    display: block;
    width: 100%;
    margin: auto;
}

th {
    background-color: black;
    padding: 1rem 0;
    color: white;
}

tr {
    background-color: white;
}

tr:hover {
    background-color: rgb(255, 243, 241);
}

td {
    width: 20%;
    padding: 0;
}


td a {
    text-decoration: line-through;
    color: white;
    font-weight: 900;
    background-color: tomato;
    padding: 0.5em;
}


/*gallery.html*/

.gallerybod {
    background-color: white;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallerycontainer {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#twoimg,
#threeimg {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

#twoimg img{
    width: 49%;
    height: auto;
    opacity: 0.7;
}

#threeimg img {
    width: 32%;
    height: auto;
    opacity: 0.7;
}

#twoimg img:hover,
#threeimg img:hover {
    opacity: 1;
    transition: opacity 300ms linear;
}

/*shop.html*/

.shopbod {
    background-color: white;
}

.productsec {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.card {
    margin: 1.5rem;
    max-width: 220px;
    text-align: center;
}

.card img {
    object-fit: cover;
    width: 220px;
    height: 300px;
}

.card button {
    border: none;
    background-color: tomato;
    padding: 0.5rem;
    width: 50%;
    cursor: pointer;
}

.shopend {
    text-align: center;
    padding: 3rem;
}

.shopend p {
    margin: 0;
}

/*contact.html*/

.contacthtml {
    background-color: white;
}

.contact {
    justify-content: center;
    width: 80%;
    margin: auto;
}

.contactcol1 p {
    margin-bottom: 2em;
}

.contactcol1 a {
    background-color: tomato;
    text-decoration: none;
    padding: 0.4em;
    color: white;
    width: 30%;
    text-align: center;
}

.contactcol2 form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
}

#ctfname, #ctlname, #ctemail, #ctmessage {
    margin: 10px 0;
    height: 2rem;
}

#ctmessage {
    height: 6rem;
}

#ctformsubmit {
    margin-top: 20px;
    width: 40%;
    padding: 0.5rem 0;
    background-color: tomato;
    color: white;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-size: 1rem;
    border: none;
}

#ctformsubmit:hover {
    cursor: pointer;
}

#ctfooter {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.ctfthead {
    background-color: black;
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}

.ctcopyrightprivacy {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.ctcopyright {
    justify-content: flex-start;
}

.ctprivacy {
    justify-content: flex-end;
}

.ctcopyright a,
.ctprivacy a {
    text-decoration: none;
    color: tomato;
    font-weight: 700;
}



/*Base media queries*/

@media only screen and (max-width: 1440px) {
    header {
        display: block;
        height: 80px;
    }

    #menu {
        display: none;
    }

    .mobilemenu {
        display: flex;
        justify-content: center;
        padding: 1rem 0 0 0 ;

    }

    .mobilemenu li {
        display: inline-flex;
        font-size: 1rem;
    }

    #logoa, 
    .logo img {
        height: 40px;
        text-align: center;
    }

    .ftwrap {
        display: block;
    }

    .ftcol1, .ftcol2, .ftcol3 {
        width: 70%;
        margin: auto;

    }

    .ftcol3 form {
        width: 80%;
    }

    .herotext {
        width: 60%;
    }

    .onetext {
        top: 850px;
        width: 50%;
    }

    .two {
        padding: 2rem 0;
    }

    .twowrap {
        flex-wrap: wrap;
    }

    .posts {
        width: 40%;
    }

    .posts p {
        padding-right: 3rem;
    }

    .events {
        width: 100%;
    }

    .eventwrap {
        padding: 2rem;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    tr {
        border: 0.1px solid rgba(211, 211, 211, 0.151);
        padding-bottom: 2rem;
    }

    table img {
        width: 100%;
    }

    td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
        padding-bottom: 1rem;
        width: 100%;
    }
    
    td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 50%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Event"; }
	td:nth-of-type(4):before { content: "Venue"; }
    td:nth-of-type(5):before { content: "Tickets"; }
    

    #ctfooter {
        position: static;
        margin-top: 1rem;
    }

    .contactcol1,
    .contactcol3 {
        align-items: center;
    }

    .contactcol1 p {
        text-align: center;
    }

    .contactcol2 form{
        width: 100%;
    }

    .contactcol2 h1 {
        text-align: center;
    }

    #ctformsubmit {
        align-self: center;
    }
}

@media only screen and (max-width: 660px) {
    header {
        height: 6rem;
    }

    .mobilemenu {
        display: block;
        width: 100%;
        padding: 1rem 0 1rem 0;
    }

    .mobilemenu ul {
        display: flex;
        justify-content: space-around;
    }

    .ftcol1, .ftcol2, .ftcol3 {
        width: 90%;
        margin: auto;

    }

    .ftcol3 form {
        width: 100%;
    }

    .hero {
        height: 500px;
    }

    .herotext {
        top: 200px;
        width: 80%;
    }

    .one {
        display: none;
    }

    /*
    .onetext {
        width: 80%;
        margin: auto;
        top: 670px;
        right: auto;
    }
    */

    .two {
        padding: 2rem 0;
    }

    .twohead {
        font-size: 1.7rem;
    }

    .twowrap {
        flex-wrap: wrap;
    }

    .posts {
        width: 90%;
        align-items: center;
    }

    .posts p {
        padding: 0 2rem;
        text-align: center;
    }

    .mobhide {
        display: none;
    }

    .three img {
        width: 16.6% ;
    }

    .testament {
        width: 50%;
    }

    .eventwrap {
        padding: 1.5rem;
    }

    .events {
        width: 100%;
    }

    td {
        width: 100%;
        padding: 0 0 1rem 0;
    }

    td:before {
        width: 30%;
        top: 2px;

    }

    td a {
    }

    table img {
        width: 100%;
    }

}

